body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes pathAnim-0 {
  0% {
    d: path("M 0,600 L 0,150 C 86.36363636363635,150.57416267942585 172.7272727272727,151.14832535885168 280,157 C 387.2727272727273,162.85167464114832 515.4545454545455,173.98086124401914 619,174 C 722.5454545454545,174.01913875598086 801.4545454545453,162.92822966507177 876,151 C 950.5454545454547,139.07177033492823 1020.7272727272727,126.30622009569379 1114,126 C 1207.2727272727273,125.69377990430621 1323.6363636363635,137.8468899521531 1440,150 L 1440,600 L 0,600 Z");
  }

  25% {
    d: path("M 0,600 L 0,150 C 101.07177033492823,167.67464114832535 202.14354066985646,185.34928229665073 292,193 C 381.85645933014354,200.65071770334927 460.4976076555024,198.2775119617225 568,177 C 675.5023923444976,155.7224880382775 811.866028708134,115.54066985645935 906,128 C 1000.133971291866,140.45933014354065 1052.0382775119617,205.55980861244018 1134,218 C 1215.9617224880383,230.44019138755982 1327.9808612440193,190.2200956937799 1440,150 L 1440,600 L 0,600 Z");
  }

  50% {
    d: path("M 0,600 L 0,150 C 91.38755980861242,174.01913875598086 182.77511961722485,198.03827751196172 295,212 C 407.22488038277515,225.96172248803828 540.2870813397129,229.86602870813397 620,208 C 699.7129186602871,186.13397129186603 726.0765550239233,138.4976076555024 817,115 C 907.9234449760767,91.50239234449761 1063.4066985645934,92.14354066985646 1178,102 C 1292.5933014354066,111.85645933014354 1366.2966507177034,130.92822966507177 1440,150 L 1440,600 L 0,600 Z");
  }

  75% {
    d: path("M 0,600 L 0,150 C 100.88038277511961,155.16746411483254 201.76076555023923,160.33492822966508 302,152 C 402.2392344497608,143.66507177033492 501.8373205741626,121.82775119617224 591,136 C 680.1626794258374,150.17224880382776 758.8899521531101,200.35406698564594 863,210 C 967.1100478468899,219.64593301435406 1096.6028708133972,188.75598086124404 1197,172 C 1297.3971291866028,155.24401913875596 1368.6985645933014,152.62200956937798 1440,150 L 1440,600 L 0,600 Z");
  }

  100% {
    d: path("M 0,600 L 0,150 C 86.36363636363635,150.57416267942585 172.7272727272727,151.14832535885168 280,157 C 387.2727272727273,162.85167464114832 515.4545454545455,173.98086124401914 619,174 C 722.5454545454545,174.01913875598086 801.4545454545453,162.92822966507177 876,151 C 950.5454545454547,139.07177033492823 1020.7272727272727,126.30622009569379 1114,126 C 1207.2727272727273,125.69377990430621 1323.6363636363635,137.8468899521531 1440,150 L 1440,600 L 0,600 Z");
  }
}

@keyframes pathAnim-1 {
  0% {
    d: path("M 0,600 L 0,350 C 107.40669856459331,365.88516746411483 214.81339712918663,381.77033492822966 303,364 C 391.1866028708134,346.22966507177034 460.153110047847,294.8038277511962 557,281 C 653.846889952153,267.1961722488038 778.5741626794257,291.0143540669856 877,320 C 975.4258373205743,348.9856459330144 1047.5502392344497,383.1387559808613 1137,389 C 1226.4497607655503,394.8612440191387 1333.2248803827752,372.43062200956933 1440,350 L 1440,600 L 0,600 Z");
  }

  25% {
    d: path("M 0,600 L 0,350 C 70.34449760765548,367.77033492822966 140.68899521531097,385.5406698564593 253,397 C 365.31100478468903,408.4593301435407 519.5885167464115,413.60765550239233 627,397 C 734.4114832535885,380.39234449760767 794.956937799043,342.02870813397135 886,329 C 977.043062200957,315.97129186602865 1098.5837320574162,328.2775119617225 1196,336 C 1293.4162679425838,343.7224880382775 1366.7081339712918,346.8612440191388 1440,350 L 1440,600 L 0,600 Z");
  }

  50% {
    d: path("M 0,600 L 0,350 C 102.39234449760764,369.08133971291863 204.78468899521528,388.1626794258373 297,396 C 389.2153110047847,403.8373205741627 471.2535885167465,400.4306220095694 564,369 C 656.7464114832535,337.5693779904306 760.2009569377989,278.11483253588517 855,281 C 949.7990430622011,283.88516746411483 1035.9425837320575,349.1100478468899 1132,371 C 1228.0574162679425,392.8899521531101 1334.0287081339711,371.444976076555 1440,350 L 1440,600 L 0,600 Z");
  }

  75% {
    d: path("M 0,600 L 0,350 C 85.51196172248802,338.60287081339715 171.02392344497605,327.2057416267943 256,318 C 340.97607655502395,308.7942583732057 425.4162679425838,301.7799043062201 527,309 C 628.5837320574162,316.2200956937799 747.311004784689,337.6746411483254 841,328 C 934.688995215311,318.3253588516746 1003.3397129186603,277.52153110047846 1099,276 C 1194.6602870813397,274.47846889952154 1317.3301435406697,312.2392344497608 1440,350 L 1440,600 L 0,600 Z");
  }

  100% {
    d: path("M 0,600 L 0,350 C 107.40669856459331,365.88516746411483 214.81339712918663,381.77033492822966 303,364 C 391.1866028708134,346.22966507177034 460.153110047847,294.8038277511962 557,281 C 653.846889952153,267.1961722488038 778.5741626794257,291.0143540669856 877,320 C 975.4258373205743,348.9856459330144 1047.5502392344497,383.1387559808613 1137,389 C 1226.4497607655503,394.8612440191387 1333.2248803827752,372.43062200956933 1440,350 L 1440,600 L 0,600 Z");
  }
}

.path-0 {
  animation: pathAnim-0 7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.path-1 {
  animation: pathAnim-1 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}